body .page-header {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url("/assets/img/Tampak depan.jpg") center no-repeat;
    background-size: cover;
}

hgroup {
    border: 5px solid #fff;
    padding: .5em 3em;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
}

.site-footer {
    padding: 1em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}